In [1]:
input_xlsx_path = "text_data/OOD.xlsx"
csv_path = "text_data/OOD_modified.csv"

In [2]:
import pandas as pd
import os

# def add_extension(file_name):
#     if not file_name.split(".")[-1]=="tif":
#         return f"{file_name}.tif"
#     return file_name

def excel_to_single_csv(excel_file_path, output_csv_path=None):
    excel_file = pd.ExcelFile(excel_file_path)
    sheet_names = excel_file.sheet_names
    print(f"Found {len(sheet_names)} sheets: {', '.join(sheet_names)}")
    all_data = []
    
    for sheet_name in sheet_names:
        
        df = pd.read_excel(excel_file, sheet_name=sheet_name)
        df.rename(columns={"-=":"Class"}, inplace=True)
        #df['Image'] = df['Image'].apply(add_extension)
        all_data.append(df)
    
    if all_data:
        combined_df = pd.concat(all_data, ignore_index=True)
        
        combined_df.to_csv(output_csv_path, index=False)
    else:
        print("No data found in the Excel file.")

In [3]:
excel_to_single_csv(input_xlsx_path, csv_path)

Found 11 sheets: Species1, Species2, Species4, Species5, Species6, Species7, Lutjanus malabaricus, Amphiprion clarki, Grouper, Nemipterus sp, Oreochromis sp

In [4]:
df = pd.read_csv(csv_path)
df.head()

,Class,Image,Systematics,Otolith_type,Otolith_side,Description,Sampling_location,Depth,Vernacular name,Habitat
0,Species1,L_sp1_Image001.jpg,NaN,Sagittal,left,"Type: Sagittal, Side: Left otolith. Shape: ell...",NaN,NaN,NaN,deep sea
1,Species1,L_sp1_Image002.jpg,NaN,Sagittal,left,"Type: Sagittal, Side: Left otolith. Shape: ell...",NaN,NaN,NaN,deep sea
2,Species1,L_sp1_Image003.jpg,NaN,Sagittal,left,"Type: Sagittal, Side: Left otolith. Shape: ell...",NaN,NaN,NaN,deep sea
3,Species1,L_sp1_Image004.jpg,NaN,Sagittal,left,"Type: Sagittal, Side: Left otolith. Shape: ell...",NaN,NaN,NaN,deep sea
4,Species1,L_sp1_Image005.jpg,NaN,Sagittal,left,"Type: Sagittal, Side: Left otolith. Shape: ell...",NaN,NaN,NaN,deep sea

In [9]:
data_folder = "OOD_final"
file_path = "text_data/OOD_modified.csv"
df = pd.read_csv(file_path)
df.head()

,Class,Image,Systematics,Otolith_type,Otolith_side,Description,Sampling_location,Depth,Vernacular name,Habitat
0,Species1,L_sp1_Image001.jpg,NaN,Sagittal,left,"Type: Sagittal, Side: Left otolith. Shape: ell...",NaN,NaN,NaN,deep sea
1,Species1,L_sp1_Image002.jpg,NaN,Sagittal,left,"Type: Sagittal, Side: Left otolith. Shape: ell...",NaN,NaN,NaN,deep sea
2,Species1,L_sp1_Image003.jpg,NaN,Sagittal,left,"Type: Sagittal, Side: Left otolith. Shape: ell...",NaN,NaN,NaN,deep sea
3,Species1,L_sp1_Image004.jpg,NaN,Sagittal,left,"Type: Sagittal, Side: Left otolith. Shape: ell...",NaN,NaN,NaN,deep sea
4,Species1,L_sp1_Image005.jpg,NaN,Sagittal,left,"Type: Sagittal, Side: Left otolith. Shape: ell...",NaN,NaN,NaN,deep sea

In [10]:
import os

In [11]:
# check if file_exists
for i, row in df.iterrows():
    folder_name = row.Class
    file_name = row.Image

    file_path = f"{data_folder}/{folder_name}/{file_name}"
    
    if not os.path.exists(file_path):
        print(f"{file_path} does not exist")

In [12]:
test=pd.read_csv("/home/reshma/Otolith/captioning/otolith/text_data/OOD_modified.csv")
print(len(test))

606